
@font-face {
  font-family: 'Aladin-Regular';
  src: url('Aladin-Regular.eot?#iefix') format('embedded-opentype'),  url('Aladin-Regular.woff') format('woff'), url('Aladin-Regular.ttf')  format('truetype'), url('Aladin-Regular.svg#Aladin-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
